{% extends "../main.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/collectible.css">
{% endblock %}

{% block main %}
	<article class="row justify-content-around img-fond">
		<div class="mr row mt-3 mb-3 col-lg-4">
			<div class="int col-lg-7 pt-3 pb-3 mx-auto mb-3">Plantes intérieur</div>
			{% for interiorCard in interiorPlants %}
				<article class="card-int row d-flex justify-content-around card-int col-12">
					<div class="mb-3 my-3 fond-interior card">
						<div class="card-body row">
							<a href="/collectible?search={{interiorCard.plant.name}}" class="d-flex">
								<div class="col-3 my-auto">
									<img class="img-responsive" src="../images/plantes/{{interiorCard.plant.image}}" style="width:100%" alt="" class="imgCard">
									<div class="button-sup mt-2">
										<a href="deletePlant/{{interiorCard.plant.id}}">
											<button class="button-sup-int mt-2" type="submit">Supprimer</button>
										</a>
										<a href="pharmacie/{{interiorCard.plant.id}}">
											<button class="button-bobo-int mt-2" type="submit">Voir les bobos</button>
										</a>
										<a href="calendar/{{interiorCard.plant.id}}">
											<button class="button-bobo-ext mt-2" type="submit">Alerte arrosage</button>
										</a>
									</div>
								</div>

								<div class="col-9">
									<ul class="my-auto">
										<li class="card-text">
											Famille:
											{{interiorCard.plant.family}}
										</li>
										<li class="card-text ">
											Nom plante:
											{{interiorCard.plant.name}}
										</li>
										<li class="card-text ">
											Arrosage:
											{{interiorCard.plant.watering}}
										</li>
										<li class="card-text ">
											Exposition:
											{{interiorCard.plant.exposure}}
										</li>
										<li class="card-text ">
											Rampotage:
											{{interiorCard.plant.repotting}}
										</li>
									</ul>
								</div>
							</a>
						</div>
					</div>
				</article>

			{% endfor %}
		</div>
		<div class="row col-4 mb-3">
			{% if plant %}
				{% include "./cardPlante.twig" %}
			{% else %}
				<div class="error">{{error}}</div>
			{% endif %}
			<div class="tableCollect">
				<section style="text-align:center">
					<form method="get" style="margin: auto" action="/collectible" class="connect">
						<h4 class="pt-3">Entrez le nom de votre plante</h4>
						<article>
							<div>
								<label for="user"></label>
							</div>
							<div>
								<input class="plantName col-6" type="text" id="planter" name="planter">
							</div>
							<div>
								<button class="button-valid" type="submit">Validez</button>
							</div>
						</article>
					</form>
				</section>
			</div>
		</div>

		<div class="row  mt-3 mb-3 col-lg-4">
			<div class="ext col-lg-7 pt-3 pb-3 mx-auto mb-3">Plantes extérieur</div>
			{% for exteriorCard in exteriorPlants %}
				<article class="card-ext col-12">
					<div class="mb-3 my-3 fond-exterior card">
						<div class="card-body row">
							<a href="/collectible?search={{exteriorCard.plant.name}}" class="d-flex">

								<div class="col-3 my-auto">
									<img class="img-responsive" src="../images/plantes/{{exteriorCard.plant.image}}" style="width:100%" alt="" class="imgCard">
									<div class="button-sup mt-2">
										<a href="deletePlant/{{exteriorCard.plant.id}}">
											<button class="button-sup-ext mt-2" type="submit">Supprimer</button>
										</a>
										<a href="pharmacie/{{exteriorCard.plant.id}}">
											<button class="button-bobo-ext mt-2" type="submit">Voir les bobos</button>
										</a>
										<a href="calendar/{{exteriorCard.plant.id}}">
											<button class="button-bobo-ext mt-2" type="submit">Alerte arrosage</button>
										</a>
									</div>
								</div>
								<div class="col-9">
									<ul class="my-auto">
										<li class="card-text">
											Famille:
											{{exteriorCard.plant.family}}
										</li>
										<li class="card-text ">
											Nom plante:
											{{exteriorCard.plant.name}}
										</li>
										<li class="card-text ">
											Arrosage:
											{{exteriorCard.plant.watering}}
										</li>
										<li class="card-text ">
											Exposition:
											{{exteriorCard.plant.exposure}}
										</li>
										<li class="card-text ">
											Rampotage:
											{{exteriorCard.plant.repotting}}
										</li>
									</ul>
								</div>
							</a>
						</div>
					</div>
				</article>
			{% endfor %}
		</div>
	</article>
{% endblock %}
